In [28]:
import pandas as pd
import numpy as np
import torch
from scipy.sparse import csr_matrix
from scipy.sparse import lil_matrix
import scipy.sparse

In [2]:
df=pd.read_csv('Ratings.csv')

In [33]:
df

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [3]:
uniq_user= list(set(df['User-ID']))
uniq_ISBN= list(set(df['ISBN']))

In [12]:
M=lil_matrix((len(uniq_user), len(uniq_ISBN)), dtype=float)

In [8]:
user= list(df['User-ID'])
isbn= list(df['ISBN'])
rating= list(df['Book-Rating'])
dict1= dict(zip(uniq_user,range(len(uniq_user))))
dict2= dict(zip(uniq_ISBN,range(len(uniq_ISBN))))

In [13]:
for i in range(len(df)):
    M[dict1[user[i]],dict2[isbn[i]]]= rating[i]

In [30]:
N= sparse.csr_matrix(M)

In [32]:
scipy.sparse.save_npz('./Mat.npz', N)

In [ ]:
import h5py
with h5py.File('Mat.h5', 'w') as hf:
    hf.create_dataset('data', data=M, compression="gzip", compression_opts=9)